body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

/* primera sección*/

.bienvenida{
	background: url('../img/header-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

.navbar{
	position: fixed;/*ver como darle color cuando baja*/
}

.navbar-default{
	background-color: transparent;
	border: none;
}

.navbar-brand.logo{/*cambiar letra,color y tamaño del logo*/
	color: yellow;
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
}

.contenido-home{
	padding: 200px 0;
}

.primer-titulo{
	font-size: 40px;
    font-family: 'Droid Sans', sans-serif;/* darle estilo al título más pequeño*/
    font-family: 'Playfair Display', serif
}

.segundo-parrafo{
	font-size: 65px;
	font-weight: bolder;
	padding-bottom:40px;
}

.boton{
	width:250px;
	padding: 20px;
	background: yellow;
	color: white;
}

/*cambio color a un enlace en el navbar*/

.enlace{
	color: #ec9f16;
}

/*sección services*/
.titulo-services{
	padding-top: 50px;
	font-size: 30px;
	font-weight: bolder;

}

.parrafo-services{
	padding-bottom: 50px;
}


.icono-services{
	width: 50%;
}

.titulo-icono-services{
	font-weight: bolder;
	font-size: 20px;
}

.parrafo-services-2{
	padding-bottom: 100px;
}

/* tercera sección portfolio*/

.portfolio{
	background: #D3D3D3;
	padding-bottom: 100px;
}

.titulo-portfolio{
	padding-top: 50px;
	font-weight: bolder;
	font-size: 30px;
}

.parrafo-portfolio{
	padding-bottom: 50px;
}


.titulo-img-portfolio{
	font-weight: bolder;
	font-size: 20px;
}

.img-portfolio{
	width: 100%;
}

/*secion about*/

.about{
	padding:80px;
}

.titulo-about{
	font-weight: bolder;
	font-size: 30px;
}

.parrafo-about{
	padding-bottom: 50px;
}

/*quinta sección team*/ 

.titulo-team{
	padding-top: 50px;
	font-weight: bolder;
	font-size: 25px;
}

.titulo-team-1{
	font-weight: bolder;
	font-size: 20px;
}

.parrafo-team{
	padding-top: 20px;
	padding-bottom: 50px;
}

.redessoc{
	width: 30px;
}

/*sexta sección publicidad*/

.publicidad{
	padding: 50px;
}

/*séptima sección contacto*/
.contacto{
	background: black;
	
}

.titulo-contact{
	font-weight: bolder;
	font-size: 30px;
	color: white;
}

.parrafo-contact{
	color: white;
	padding-bottom: 30px;
}

.contenedor{
	background: url(../img/map-image.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding:60px;
}

.contacto{
	padding: 100px 0;
}

.boton-contacto{
	margin-top: 30px;
}

